.homepage {
    background: red;
    width: 40%;
    height: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .3rem solid black;
    margin-left: 30%;
}
.filters {
    display: grid;
}


